// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-title
{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.home-tape
{
   margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.title-card
{
    margin-top: 10px;
}

.links{
    color: black;
}
.photo-title
{
    margin-top: 5px;
    text-align: center;
}

.like
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.comment
{
    margin-top: 10px;
    margin-bottom: 10px;
}
